.bg-cover {
  background-position: center ;
  background-size: cover;
}

.fz-14{
  font-size: 14px;
}

h1 .logo {
  background-image: url(../images/logo-aloha.svg);
}

h1 a {
  width: 96px;
  height: 24px;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}