.navbar-brand{
    background-image: url("../../images/logo-aloha.svg");
    width: 80px;
    height: 49px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}


