

.bg-1{
  background-image: url('..\..\images\index-banner.jpg');
  margin-top: 58px;
    height: 320px;
}

.search{
  transform: translate(8%,-50%);
  @include iphone5{
    height: 30; }
}

.top_card{
  height: 175px;
  width: 255px;
}

.choice_card{
  border-radius: 8px;
  width: 255px;
  height: 175px;
}

.pop_card{
  width: 350px;
  height: 78px;
  position: relative;
}

.get_card{
  width: 350px;
  height: 263px;
}

.topChoicesBtn{
  width: 40px;
  height: 40px;
  color: #d1cde8;
}

.swiper-button-next {
  color: #d1cde8;
  
}

.swiper-container{
  --swiper-navigation-size: 20px;/* 设置按钮大小 */
}