.line{
	width: 302px;
	height: 16px;
	border-bottom: 3px solid $primary;
	position: relative;
}

.circle{
	width: 16px;
	height: 16px;
	background-color: $primary;
	border-radius: 50%;
	position: absolute;
	top: 5px;
}

.circle2{
	right: 0;
}

.pic{
	width: 255px;
	height: 175px;
}

.hotel{
	height: 175px;
}

