.range{
	position: relative;
  display: flex;
}

.range::after {
	content:"";
	position: absolute;
	left: 100px;    
	right: 90px;
	height: 3px; 
	background-color: $primary;
  width: 278px;
}

.line{
	position: relative;
  display: flex;
  justify-content: center;
}

.line::before {
	content: "";
	position: absolute;
	left: 40%;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	transform: translate(50%,-25%);
	background-color: $primary;
}