<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.2/iconfont/material-icons.min.css" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid  align-items-center">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="col">
        <h1><a href="index.html" class="logo">ALOHA</a></h1>
      </div>
      <ul class="row list-unstyled align-items-center m-0">
        <li>
          <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <div class="btn-group mr-5 d-none d-md-block " role="group">
              <button id="btnGroupDrop1" type="button" class="btn btn-light border dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="material-icons">
                  language
                </span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <li ><a class="dropdown-item" href="#">English</a></li>
                <li><a class="dropdown-item" href="#">繁體中文</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li><a href="#" class="mr-5 font-weight-bold text-dark d-none d-md-block">Sign up</a></li>
        <li><a href="login.html" class="font-weight-bold text-dark">Login</a></li>
      </ul>
    </div>
  </nav>

  <%- contents %>

  


 
  <% if (subscribe) { %> <%- include('subscribe.ejs'); %> <% } %>
  <footer class="justify-content-center justify-content-md-between">
    <div class=" align-items-center navbar navbar-expand-lg navbar-light bg-light justify-content-between">
      <div class="container-fluid justify-content-between align-items-center">
        <p class=" text-muted ">© 2020 ALOHA, Inc. All rights reserved.</p>
        <ul class="d-flex list-unstyled align-items-center">
          <li><a href="#" class="mr-4 text-muted">FAQs</a></li>
          <li><a href="#" class="mr-4 text-muted">Terms of use</a></li>
          <li><a href="#" class="text-muted">Privacy policy</a></li>
        </ul>
      <ul class="row list-unstyled d-lg-block d-none">
        <li class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <div class="btn-group mr-5" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-light border dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="material-icons">
                language
              </span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <li><a class="dropdown-item" href="#">繁體中文</a></li>
              <li><a class="dropdown-item" href="#">日本語</a></li>
            </ul>
          </div>
        </li>
        <li class="btn-group " role="group" aria-label="Button group with nested dropdown">
          <div class="btn-group mr-5" role="group">
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop2">
              <li><a class="dropdown-item" href="#">Dropdown link</a></li>
              <li><a class="dropdown-item" href="#">Dropdown link</a></li>
            </ul>
            <button id="btnGroupDrop2" type="button" class="d-flex btn btn-light border dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="material-icons">attach_money</span>TWD
            </button>
            
          </div>
        </li>
      </ul>
      </div>
    </div>
  </footer>
    
      
 
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
