<div class="bg-secondary">
  <div class="container">
    <div class="row justify-content-center">
      <p class="fz-6 font-weight-bold ">Subscribe for Exclusive Offer</p>
      <div class="input-group col-lg-6 mb-3 input-group-lg justify-content-center ">
        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Your email address" aria-describedby="inputGroup-sizing-lg">
        <button class="btn btn-primary" type="button" id="button-addon2">SUBSCRIBE</button>
      </div>
    </div>
  </div>
</div>