<div class="bg-secondary m-sm-0">
  <div class="container ">
    <form class="row justify-content-center" data-aos="fade-left">
      <label class=" fz-6 font-weight-bold col-12 text-center">Subscribe for Exclusive Offer</label>
      <div class="input-group col-lg-6 col-12 mb-3 input-group-lg justify-content-center ">
        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Your email address" aria-describedby="inputGroup-sizing-lg">
        <button class="btn btn-primary" type="button" id="button-addon2">SUBSCRIBE</button>
      </div>
    </form>
  </div>
</div>